package templates

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Chatroom</title>
			<script src="/javascript/htmx.min.js"></script>
			<link rel="stylesheet" href="/css/main.css"></link>
		</head>
		<body>
			<main class="bg-gray-100">
				{ children... }
			</main>
		</body>
	</html>
}
