package templates

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Chatroom</title>
			<script src="/javascript/htmx.min.js"></script>
			<script src="/javascript/ws.js"></script>
			<link rel="stylesheet" href="/css/main.css"/>
		</head>
		<body class="text-gray-900 bg-white dark:text-gray-100 dark:bg-gray-950">
			<main class="p-6 max-h-dvh h-dvh">
				{ children... }
			</main>
		</body>
	</html>
}
