package templates

templ HelloForm() {
	@Base() {
		<div class="p-6 flex flex-col items-center justify-center">
			<form class="w-96 h-96" hx-post="/hello" method="POST" hx-target="#hello-container">
				<input id="name" name="name" type="text"/>
				<button type="submit">Submit</button>
			</form>
			<div id="hello-container"></div>
		</div>
	}
}

templ HelloPost(name string) {
	<div>Hello, { name }</div>
}
